/* https://wess.tistory.com */

@font-face {
    font-family: 'AndongWolyeonggyo';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/andong/AndongWolyeonggyo.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/andong/AndongWolyeonggyo.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/andong/AndongWolyeonggyo.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/andong/AndongWolyeonggyo.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/andong/AndongWolyeonggyo.ttf') format("truetype");
    font-display: swap;
}
